<%= content_for(:bg_header) do %>
  <div class="main-visual">
    <div>
      <h1>Lorem Ipsum</h1>
      <h5>simply dummy text of the printing</h5>
    </div>
  </div>
<% end %>

<div class="main">
  <div>
    <h3>Portfolio</h3>
    <p>It is a long established fact that a reader will be distracted by the readable<br>
       content of a page when looking at its layout<br>
       The point og using Lorem Ipsum is has a more-or-less normal distribution of letters<br>
    </p>
  </div>
</div>