/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin :0;
  padding: 0;
  box-sizing: border-box;
}

/*header {*/
/*  width: 1024px;*/
/*  height: 70px;*/
/*}*/

nav {
    width: 1024px;
    height: 70px;
    background-image: url("logo.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 215px;
    display: flex;
}
.image {
  background-image: url("logo.png");
  /*background-position: left;*/
  background-repeat: no-repeat;
}

ul {
   display: flex;
}

nav {
 background-color: #EC715F; 
}

.nav-item {
  font-size: 16px;
  color: #FAFAFA;
  margin-left: 30px;
  margin-light: 30px;
}